0:00:00 Introduction  
0:14:20 Part 1: Fundamental Techniques in Handling People  
0:14:31 If You Want to Gather Honey, Don't Kick Over the Beehive  
0:44:33 The Big Secret of Dealing with People  
1:11:25 He Who Can Do This Has the Whole World with Him. He Who Cannot Walks a Lonely Way  

1:45:41 Part 2: Six Ways to Make People Like You  
1:45:52 Do This and You'll Be Welcome Anywhere  
2:10:31 A Simple Way to Make a Good First Impression  
2:25:26 If You Don't Do This, You Are Headed for Trouble  
2:42:17 An Easy Way to Become a Good Conversationalist  
3:00:28 How to Interest People  
3:08:37 How to Make People Like You Instantly  

3:32:34 Part 3: How to Win People to Your Way of Thinking  
3:32:45 You Can't Win an Argument  
3:46:04 A Sure Way of Making Enemies—and How to Avoid It  
4:08:43 If You're Wrong, Admit It  
4:24:08 A Drop of Honey  
4:41:13 The Secret of Socrates  
4:52:20 The Safety Valve in Handling Complaints  
5:01:48 How to Get Cooperation  
5:12:19 A Formula That Will Work Wonders for You  
5:22:35 What Everybody Wants  
5:37:36 An Appeal That Everybody Likes  
5:47:22 The Movies Do It. TV Does It. Why Don't You Do It?  
5:55:20 When Nothing Else Works, Try This  

6:02:29 Part 4: Be a Leader: How to Change People Without Giving Offense or Arousing Resentment  
6:02:43 If You Must Find Fault, This Is the Way to Begin  
6:13:40 How to Criticize and Not Be Hated for It  
6:21:04 Talk About Your Own Mistakes First  
6:29:50 No One Likes to Take Orders  
6:33:57 Let the Other Person Save Face  
6:40:24 How to Spur People On to Success  
6:50:19 Give a Dog a Good Name  
6:58:28 Make the Fault Seem Easy to Correct  
7:17:59 End
